@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;500&family=Poppins:wght@600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

/* Asignamos margenes 0 para pegar todo a los bordes */
body {
  font-family: "oswald", poppins;
}

/* formato del header */
header {
  width: 100%;
  height: 470px;
  background: #2980b9;
  /* fallback for old browsers */
  background: linear-gradient(to right, rgba(255, 255, 255, 0.63), rgba(107, 212, 250, 0.788), rgba(40, 127, 184, 0.322)), url(../images/Cofee1920.jpg);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}
header .textos-header {
  align-items: center;
  text-align: center;
  justify-content: center;
  position: center;
  text-decoration: underline;
  padding-top: 140px;
  /* bajo texto principal de la pagina */
}
header .textos-header .T1 {
  font-size: 70px;
  /* asignamos variable tamaño */
  color: darkblue;
  /* asignamos variable color */
}
header .textos-header .T2 {
  font-size: 30px;
  font-weight: 30px;
  color: darkblue;
}
header .textos-header .T4 {
  font-size: 20px;
  font-weight: 20px;
  color: darkblue;
}

.hamburguesa {
  /*width: 100%;*/
  margin: 60px;
  /*padding:60px; */
  position: relative;
  z-index: 100;
  /*margin: 0 auto;*/
  /*background-color: rgba(41, 53, 214, 0.999);*/
  /*height: 40px;*/
  background-color: rgba(41, 53, 214, 0.999);
}
.hamburguesa ul a {
  color: skyblue;
  font-size: 22px;
  font-weight: 300;
  /*ancho de la fuente */
  text-decoration: none;
  /* sacamos la decoración 
  margin-right: 15px; /* separador entre menus 
  /* background-color: rgba(41, 151, 214, 0.5); /* color de fondo */
  border-radius: 5px 5px 5px 5px;
  /*bordes redondeados */
}
.hamburguesa ul li a:hover {
  text-decoration: underline;
  /*para que se marque cuando pasamos el mouse */
  cursor: pointer;
  background-color: #1e81b9;
}

.colorMenu {
  color: #f7fad9 !important;
  font-weight: bold !important;
  font-size: 20px !important;
  border-radius: 20%;
}

/*  color y tamaño al menu burger */
.colorBurger {
  color: #ffffff;
  font-size: 1.5rem;
}

/* asignamos fondos */
#fondogral {
  background-image: url(../images/cuaderno1920.jpg);
  background-attachment: fixed;
  position: relative;
}

/* asignamos propiedades de titulos varios */
.titulo3, .titulo1, .titulo {
  color: darkblue;
  font-size: 30px;
  text-align: center;
}

.titulo {
  margin-top: "5px";
  margin-bottom: "25px";
}

.titulo-service {
  text-align: center;
  justify-content: center;
  margin: auto;
}

.titulo1 {
  margin-top: "-20px";
  margin-bottom: "25px";
}

.titulo2 {
  color: #fff;
  font-size: 25px;
  text-align: center;
  margin-bottom: 60px;
}

.titulo3 {
  object-position: center;
  margin: 0 180px 0;
  padding: 0 20px 0;
  background-color: rgba(30, 128, 185, 0.363);
}

.titulo-contacto {
  color: aliceblue;
  text-underline-position: auto;
  text-shadow: #1e81b9;
}

/*----------------Se aplica Grid---------------------------*/
header {
  grid-area: header;
}

nav {
  grid-area: nav;
}

section {
  grid-area: section;
}

.contenedor-principal {
  grid-area: contenedorP;
}

footer {
  grid-area: footer;
}

.foto0 {
  grid-area: foto0;
}

.foto1 {
  grid-area: foto1;
}

.foto2 {
  grid-area: foto2;
}

.foto3 {
  grid-area: foto3;
}

.foto4 {
  grid-area: foto4;
}

.foto5 {
  grid-area: foto5;
}

* {
  font-family: "oswald", poppins;
  /*z-index: 100;*/
}

/* Asignamos fuente principal para Titulos */
/* Asignamos propiedades a la clase contenedor */
.contenedor {
  padding: 60px 0;
  width: 90%;
  max-width: 1000px;
  margin: auto;
  overflow: hidden;
}

/* Asignamos propiedades a la clase titulo */
.Logo {
  display: flex;
  margin: 2px 0 0 0;
  width: 5%;
  z-index: 100;
  position: fixed;
}

.wave {
  position: absolute;
  bottom: 0;
  width: 100%;
  border-top-color: blueviolet, border("2");
}

#texto-servicio .fuente-texto {
  color: #fff;
  font-size: 30px;
  display: flex;
  border-style: outset;
  background-color: rgba(40, 127, 184, 0.486);
  margin: 0 10em;
  width: 190px;
}

.Contenedor-principal {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.Marcas {
  font-size: 25px;
  font-weight: 300;
  color: darkblue;
  text-align: center;
  object-position: center;
  padding: 0 150px 0;
  background-color: rgba(30, 128, 184, 0.397);
}

.contenedor-intro iframe {
  /*padding-bottom: 5px;
    padding-top: 5px;*/
  margin: 0 auto;
  width: 600px;
  height: 350px;
  display: flex;
  justify-items: center;
}

/* galeria de productos */
.portafolio {
  background: rgba(111, 175, 235, 0.705);
}

.galeria {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.group,
.group1 {
  display: flex;
  width: 90vw;
  justify-content: center;
  gap: 2em;
}

.imagen-1 {
  width: auto;
  height: auto;
  margin-bottom: 50px;
  overflow: hidden;
  /*superpongo las imagenes*/
  position: relative;
  cursor: pointer;
  box-shadow: 0 2px 6px 0 black;
}

.imagen-1 > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.hover-galeria {
  position: absolute;
  top: 0em;
  width: 100%;
  height: 100%;
  transform: scale(0);
  background: rgba(75, 6, 132, 0.7);
  transition: transform 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.hover-galeria img {
  width: 50px;
}
.hover-galeria p {
  color: #fff;
}

.imagen-1:hover .hover-galeria {
  transform: scale(1);
}

.contraste-contacto {
  display: flex;
  flex-direction: column;
  justify-items: center;
  width: 50%;
}

.form-check-label {
  color: aliceblue;
  text-underline-position: auto;
  background: #051f4e;
}

footer {
  background: #051f4e;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.contenedor-footer {
  display: flex;
  width: 90%;
  justify-content: space-evenly;
  margin: auto;
  padding-bottom: 50px;
  border-bottom: 1px solid #2980b9;
}

.contacto {
  color: white;
  font-size: 22px;
  font-weight: 400;
  /* ancho de la fuente */
  text-decoration: none;
  /* sacamos la decoración */
  margin-right: 15px;
  /* separador entre menus */
}
.contacto:hover {
  text-decoration: underline;
  /* para que se marque cuando pasamos el mouse */
  cursor: pointer;
  background-color: #2997d6;
}

.text-center h5 .copyrigth {
  text-align: center;
  font-size: 2px;
  margin: 20px 0 0 0;
  color: #9e9797;
}

/* margenes 0 para contenedor de Footer en Boostrap */
#footboos {
  margin: 0;
  padding: 0;
}

/* aplicamos estilo a menu nav 320 px */
/*nav {
  .navbar {
    display: none;
  }

  ul {
    display: flex;
    justify-content: space-around;
    text-align: center;

    li {
      text-decoration: none;
      display: inline;
    }
  }
}*/
#buscador2 {
  /* se coloca id directo sin "input" */
  display: none;
}

@media screen and (max-width: 810px) {
  .Logo {
    display: flex;
    margin: 2px 0 0 5px;
    width: 5%;
    position: right;
  }
}
/* ------------------media queries 320px ------------------ */
@media screen and (max-width: 320px) {
  header {
    background: #2980b9;
    /* fallback for old browsers */
    background: linear-gradient(to right, rgba(255, 255, 255, 0.63), rgba(107, 212, 250, 0.788), rgba(40, 127, 184, 0.322)), url(../images/Cofee1920_1.jpg);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 200px;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    overflow: hidden;
  }

  #fondo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(../images/cuaderno1920-1.jpg);
    background-attachment: fixed;
    position: relative;
    width: fit-content;
    height: 320px;
  }

  .textos-header .T1 {
    font-size: 15px;
    color: darkblue;
  }
  .textos-header .T2 {
    font-size: 10px;
    font-weight: 300;
    color: darkblue;
  }
  .textos-header .T4 {
    font-size: 10px;
    font-weight: 300;
    color: darkblue;
  }

  .contenedor-principal,
.Marcas,
.titulo3,
.contenedor-intro {
    display: flex;
    flex-direction: column;
    vertical-align: center;
    justify-items: center;
  }

  .Marcas {
    font-size: 15px;
    font-weight: 300;
    color: darkblue;
    text-align: center;
    object-position: center;
    padding: 10px 0;
    background-color: rgba(30, 128, 184, 0.397);
  }

  /* se repite titulo 3 en media queries 320 */
  .titulo3 {
    text-align: center;
    /* display: inline; */
    object-position: center;
    color: darkblue;
    font-size: 12px;
    margin: 0 2px 0;
    padding: 0;
    background-color: rgba(30, 128, 185, 0.363);
  }

  .contenedor-intro {
    width: 320px;
    height: 190px;
  }

  .videoindex {
    padding-bottom: 5px;
    padding-top: 5px;
    margin: 0 20px 0;
    width: 200px !important;
    height: 150px;
  }

  .contenedor-principal {
    height: 150px;
  }

  .group {
    grid-area: group;
  }

  .group1 {
    grid-area: group1;
  }

  .image-1 {
    grid-area: imagen;
  }

  .Logo {
    display: flex;
    margin: 2px 0 0 5px;
    width: 15%;
    position: fixed;
    z-index: 100;
  }

  /* nav de vista 320px */
  .menunav {
    /*background-color: rgba(41, 53, 214, 0.999);*/
    box-shadow: 0px 1px 1px rgba(18, 25, 131, 0.999);
    Padding: rigth;
    margin: 300px 0px 20px 0;
    position: fixed;
    z-index: 150;
  }

  .hamburguesa {
    /*width: 100%;*/
    margin: 5px;
    /*position:relative;*/
    z-index: 100;
    /*margin: auto;*/
    /*background-color: rgba(41, 53, 214, 0.999);*/
    /*height: 10px;*/
  }
  .hamburguesa ul a {
    color: skyblue;
    font-size: 15px;
    font-weight: 150;
    /*ancho de la fuente */
    /*text-decoration: none; */
    /* sacamos la decoración 
    margin-right: 15px; /* separador entre menus 
    /* background-color: rgba(41, 151, 214, 0.5); /* color de fondo */
    border-radius: 10px 5px 5px 5px;
    /*bordes redondeados */
  }
  .hamburguesa ul li a:hover {
    text-decoration: underline;
    /*para que se marque cuando pasamos el mouse */
    cursor: pointer;
    background-color: #1e81b9;
  }

  .conteinernav {
    position: fixed;
  }

  #buscador {
    align-items: center;
    z-index: 20;
  }

  .galeria {
    grid-area: galeria;
    grid-template-columns: 1fr;
    grid-template-rows: 10% 10%;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    grid-template-areas: "group" "group1";
  }

  .group {
    display: grid;
    justify-content: space-between;
    align-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: 33% 33% 33%;
    grid-column-gap: 10px;
    grid-row-gap: 20px;
    grid-template-areas: "foto0" "foto1" "foto2";
  }

  .group1 {
    display: grid;
    justify-content: space-between;
    align-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: 40% 33% 33%;
    grid-column-gap: 10px;
    grid-row-gap: 20px;
    grid-template-areas: "foto3" "foto4" "foto5";
  }
}

/*# sourceMappingURL=styles.css.map */
