* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Asignamos margenes 0 para pegar todo a los bordes */  

/* Asignamos fuente principal para Titulos */
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;500&family=Poppins:wght@600&display=swap");

body {
  font-family: "oswald", poppins;
}

/* Asignamos propiedades a la clase contenedor */
.contenedor {
  padding: 60px 0;
  width: 90%;
  max-width: 900px;
  margin: auto;
  overflow: hidden;
}

/* Asignamos propiedades a la clase titulo */
.titulo {
  color: darkblue;
  font-size: 30px;
  text-align: center;
  margin-bottom: 25px;
  margin-top: 5px;
}

/* Header */

header {
  width: 100%;
  height: 470px;
  background: #2980b9; /* fallback for old browsers */
  background: linear-gradient(
      to right,
      hsla(0, 0%, 100%, 0.63),
      hsla(196, 93%, 70%, 0.788),
      hsla(204, 64%, 44%, 0.322)
    ),
    url(../images/Cofee1920.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

.Logo {
  /*display: flex;
  justify-content: left; */
  text-align: left;
  padding: 20px 5px 0;
  width: 5%;
  position: fixed;
  z-index: 100;
}
nav {
  width: 100%;
  margin-bottom: 0;
  position: fixed;
  z-index: 20;
  margin: 0 auto;
  background-color: rgba(41, 53, 214, 0.999);
  height: 36px;
}

nav ul a {
  color: skyblue;
  font-size: 22px;
  font-weight: 300;   /*ancho de la fuente */
  text-decoration: none; /* sacamos la decoración 
  margin-right: 15px; /* separador entre menus 
  /* background-color: rgba(41, 151, 214, 0.5); /* color de fondo */
  border-radius: 5px 5px 5px 5px;  /*bordes redondeados */
}

nav ul li a:hover {
  text-decoration: underline;  /*para que se marque cuando pasamos el mouse */
  cursor: pointer;
  background-color: #1e81b9;
} 

header .textos-header {
  align-items: center;
  text-align: center;
  justify-content: center;
  position: center;

  text-decoration: underline;
  padding-top: 140px; /* bajo texto principal de la pagina */
}

.textos-header h1 {
  font-size: 70px;
  color: darkblue;
  
}

.textos-header h2 {
  font-size: 30px;
  font-weight: 300;
  color: darkblue;
}

.textos-header h4 {
  font-size: 20px;
  font-weight: 300;
  color: darkblue;
}

.wave {
  position: absolute;
  bottom: 0;
  width: 100%;
  border-top-color: blueviolet border= "2";
}



.titulo-service{
  text-align: center;
  justify-content: center;
}
#texto-servicio .fuente-texto {
  color:#fff;
  font-size: 30px;
  Display: flex;
  border-style: outset;
  background-color: hsla(204, 64%, 44%, 0.486);
  margin: 0 10em;
  width: 190px;
  
  
  }

/* fondo */
#fondo {
  background-image: url(../images/cuaderno1920.jpg);
  background-attachment: fixed;
  position: relative;
}

.Contenedor-principal {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.Marcas {
  font-size: 25px;
  font-weight: 300;
  color: darkblue;
  text-align: center;
  object-position: center;
  padding: 0 150px 0;
  background-color: hsla(202, 72%, 42%, 0.397);
}

.titulo3 {
  text-align: center; /* display: inline; */
  object-position: center;
  color: darkblue;
  font-size: 30px;
  margin: 0 auto 0;
  padding: 0 2px 0;
  background-color: rgba(30, 128, 185, 0.363);
}

.contenedor-intro iframe {
  /*padding-bottom: 5px;
  padding-top: 5px;*/
  margin: 0 auto;
  width:600px;
  height:350px;
  display: flex;
  justify-items: center;
}

/* galeria de productos */

.portafolio {
  background: hsla(209, 76%, 68%, 0.705);
}

.titulo1 {
  color: darkblue;
  font-size: 30px;
  text-align: center;
  margin-bottom: 25px;
  margin-top: -20px;
}

.galeria {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.group,
.group1 {
  display: flex;
  width: 90vw;
  margin: 0 auto;
  justify-content: center;
  gap: 2em;
}

.imagen-1 {
  width: auto;
  height: auto;
  margin-bottom: 50px;
  overflow: hidden; /*superpongo las imagenes*/
  position: relative;
  cursor: pointer;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 8);
}

.imagen-1 > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.hover-galeria {
  position: absolute;
  top: 0em;
  width: 100%;
  height: 100%;
  transform: scale(0);
  background: hsla(273, 91%, 27%, 0.7);
  transition: transform 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hover-galeria img {
  width: 50px;
}

.hover-galeria p {
  color: #fff;
}

.imagen-1:hover .hover-galeria {
  transform: scale(1);
}

/* Asignamos propiedades a la clase titulo2 */
.titulo2 {
  color: #fff;
  font-size: 25px;
  text-align: center;
  margin-bottom: 60px;
}

.contraste-contacto {
  display: flex;
  flex-direction: column;
  justify-items:center;
  width: 50%;
}
.titulo-contacto {
  color: aliceblue;
  text-underline-position: auto;
  text-shadow: #1e81b9;
}

.form-check-label {
  color: aliceblue;
  text-underline-position: auto;
  background: rgb(5, 31, 78);
}

footer {
  background: rgb(5, 31, 78);
  padding: 60px 0 30px 0;
  margin: 0;
  overflow: hidden;
}

.contenedor-footer {
  display: flex;
  width: 90%;
  justify-content: space-evenly;
  margin: auto;
  padding-bottom: 50px;
  border-bottom: 1px solid #2980b9;
}

.contacto {
  color: white;
  font-size: 22px;
  font-weight: 400; /* ancho de la fuente */
  text-decoration: none; /* sacamos la decoración */
  margin-right: 15px; /* separador entre menus */
  /* background-color: hsl(202, 68%, 50%);*/ /* color de fondo */
  /* border-radius: 5px 5px 5px 5px; /* bordes redondeados */
}

.contacto :hover {
  text-decoration: underline; /* para que se marque cuando pasamos el mouse */
  cursor: pointer;
  background-color: rgb(41, 151, 214);
}


.titulo-final {
  text-align: center;
  font-size: 15px;
  margin: 20px 0 0 0;
  color: #9e9797;
}

/* -------------footer de boostrap -----------*/ 

#footboos {     
  margin: 0;
  padding: 0;
  /*background-color: red;*/
}

/*----------------Se aplica Grid---------------------------*/

/*header,
nav,
section,
footer .portafolio {
  border: solid 1px black;
}*/

header {
  grid-area: header;
}
nav {
  grid-area: nav;
}

section {
  grid-area: section;
}
.contenedor-principal {
  grid-area: contenedorP;
}

footer {
  grid-area: footer;
}
.foto0 {                 /* fotos de la galeria del index */
  grid-area: foto0;
}
.foto1 {
  grid-area: foto1;
}
.foto2 {
  grid-area: foto2;
}
.foto3 {
  grid-area: foto3;
}
.foto4 {
  grid-area: foto4;
}
.foto5 {
  grid-area: foto5;
}

nav i.fas {
  display: none;
}
nav ul li {
  text-decoration: none;
  display: inline;
}
nav ul {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

#buscador2 {
  /* se coloca id directo sin "input" */
  display: none;
}

/* ------------------media queries 320px ------------------ */

@media screen and (max-width: 320px) {
  header {
    background: #2980b9; /* fallback for old browsers */
    background: linear-gradient(
        to right,
        hsla(0, 0%, 100%, 0.63),
        hsla(196, 93%, 70%, 0.788),
        hsla(204, 64%, 44%, 0.322)
      ),
      url(../images/Cofee1920_1.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    height: 200px;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    overflow: hidden;
  }

 #fondo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(../images/cuaderno1920-1.jpg);
    background-attachment: fixed;
    position: relative;
    width: fit-content;
    height: 320px;
  }

  
  header .textos-header{
    padding-top: 25px;
  }
  
  .textos-header h1 {
    font-size: 25px;
    color: darkblue;
    padding-top: 10px;
  }

  .textos-header h2 {
    font-size: 15px;
    font-weight: 300;
    color: darkblue;
  }

  .textos-header h4 {
    font-size: 15px;
    font-weight: 300;
    color: darkblue;
  }

  .contenedor-principal,
  .Marcas,
  .titulo3,
  .contenedor-intro {
    display: flex;
    flex-direction: column;
    /*vertical-align: center;*/
    /*justify-items: center;*/
  }

  .Marcas {
    font-size: 15px;
    font-weight: 300;
    color: darkblue;
    text-align: center;
    object-position: center;
    padding: 10px 0;
    background-color: hsla(202, 72%, 42%, 0.397);
  } */

  .titulo3 {
    justify-content: space-around;
    text-align: center; /* display: inline; */
    object-position: center;
    color: darkblue;
    font-size: 15px;
    margin: 0 2px 0;
    padding: 0;
    background-color: rgba(30, 128, 185, 0.363);
  }
  .contenedor-intro {
    width: 320px;
    height: 190px;
  }
  .videoindex {
    padding-bottom: 5px;
    padding-top: 5px;
    margin: 0 20px 0;
    width: 200px !important;
    height: 150px;
  }

  .contenedor-principal {
    height: 300px;
  }
  .group {
    grid-area: group;
  } 
  .group1 {
    grid-area: group1;
  }
  .image-1 {
    grid-area: imagen;
  }

  nav i.fas {
    display: block;
    font-size: 30px;
  }

  nav ul {
    display: none;
  }

  nav {
    width: auto;
    margin: 0 0 0 82%;
    padding: 10px;
    grid-area: nav;
    padding-bottom: 35px;
    padding-top: 5px;
  }

  .Logo {
    text-align: left;
    padding: 0 2px 0;
    width: 18%;
    position: fixed;
    z-index: 100;
  }

  #buscador {
    align-items: center;
    z-index: 20;
  }

  .galeria {
    display: grid;
    grid-area: galeria;
    grid-template-columns: 1fr;
    grid-template-rows: 10% 10%;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    grid-template-areas:
      "group"
      "group1";
  }

  .group {
    display: grid;
    justify-content: space-between;
    align-items: center;
    width: 65vw;
    grid-template-columns: 1fr;
    grid-template-rows: 33% 33% 33%;
    grid-column-gap: 10px;
    grid-row-gap: 20px;
    grid-template-areas:
      "foto0"
      "foto1"
      "foto2";
  }
  .group1 {
    display: grid;
    justify-content: space-between;
    align-items: center;
    width: 65vw;
    grid-template-columns: 1fr;
    grid-template-rows: 40% 33% 33%;
    grid-column-gap: 10px;
    grid-row-gap: 20px;
    grid-template-areas:
      "foto3"
      "foto4"
      "foto5";
  }
} 
