@import '_variables';

body {
    font-family: $tipografiatotal;
}

/* formato del header */
header {
    width: 100%;
    height: 470px;
    background: #2980b9; /* fallback for old browsers */
    background: linear-gradient(
        to right,
        hsla(0, 0%, 100%, 0.63),
        hsla(196, 93%, 70%, 0.788),
        hsla(204, 64%, 44%, 0.322)
        ),
        url(../images/Cofee1920.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;

   .textos-header {
        align-items: center;
        text-align: center;
        justify-content:space-around;
        /*position: auto;*/
        text-decoration: underline;
        padding-top: 120px; /* bajo texto principal de la pagina */
        
        

        .T1 {
            font-size: $textosh1;   /* asignamos variable tamaño */
            color: $textoazul;  /* asignamos variable color */
        }    
        .T2 {
            font-size: $textosh2;   
            font-weight: $anchoh2;
            color: $textoazul;  
        }
    
        .T4 {
            font-size: $textosh4;   
            font-weight: $anchoh4; 
            color: $textoazul; 
        }
    }
        
}


.hamburguesa {
    /*width: 100%;*/
    margin: 60px;
    /*padding:60px; */
    position: relative;
    z-index: 100;
    /*margin: 0 auto;*/
    /*background-color: rgba(41, 53, 214, 0.999);*/
    /*height: 40px;*/
    background-color: rgba(41, 53, 214, 0.999);
  
    ul { 
        a {
        color: skyblue;
        font-size: 22px;
        font-weight: 300;   /*ancho de la fuente */
        text-decoration: none; /* sacamos la decoración 
        margin-right: 15px; /* separador entre menus 
        /* background-color: rgba(41, 151, 214, 0.5); /* color de fondo */
        border-radius: 5px 5px 5px 5px;  /*bordes redondeados */
        }
    
        li {
            a {
                &:hover{
                    text-decoration: underline;  /*para que se marque cuando pasamos el mouse */
                    cursor: pointer;
                    background-color: #1e81b9;
                }
            }       
        }           
    }
} 

.colorMenu {
    color: #f7fad9 !important;
    font-weight: bold !important;
    font-size: 20px !important;
    border-radius: 20%;
  }
/*  color y tamaño al menu burger */
.colorBurger {
    color: #ffffff;
    font-size: 1.5rem  
}