$tipografiatotal: "oswald", poppins;

$textoazul: darkblue;

$textosh1: 70px;
$textosh1320: 15px;

$textosh2: 30px;
$anchoh2: 300;
$textosh2320: 10px;

$textosh4: 20px;
$anchoh4: 300;
$textosh4320: 10px;



